<div class="container my-5">
    <div class="list_watch" *ngFor="let watch of detailWatch">
        <div class="card my-3 mx-auto" style="max-width: 1250px;">
        <div class="row g-0">
            <div class="col-md-4">
            <img src="{{watch.picture}}" class="img-fluid rounded-start" alt="{{watch.name}}">
            </div>
            <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{watch.name}}</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Prix : {{watch.price | currency:'EUR'}}</li>
                    <li class="list-group-item">Couleur : {{watch.color}}</li>
                    <li class="list-group-item">Taille : {{watch.size}}mm</li>
                    <li class="list-group-item">GPS : {{ watch.gps == true ? 'Oui' : 'Non' }}</li>
                    <li class="list-group-item">Bluetooth : {{ watch.bluetooth == true ? 'Oui' : 'Non' }}</li>
                    <li class="list-group-item">Poids : {{watch.weight}}g</li>
                </ul>
                <button *ngIf="isLoggedIn" (click)="addCart(watch)" type="button" class="btn btn-primary btn-lg my-4">Ajouter au panier ({{watch.price | currency:'EUR'}})</button>
                <div *ngIf="!isLoggedIn" class="alert alert-warning my-4 text-center" role="alert">Vous devez être connecté pour ajouter un article au panier</div>
                <p class="card-text h3">{{watch.shortDescription}}</p>
                <p class="card-text">{{watch.description}}</p>
                <p class="card-text"><small class="text-muted">Article ajouté le {{watch.createdAt.date|date:'shortDate'}}</small></p>
            </div>
            </div>
        </div>
    </div>
</div>
